
name: todo-backend-cicd

on:
  push:
    branches: [ todo-ci-test ]
#   pull_request:
#     branches: [ master ]
env:
  PROJECT_NAME: todo-list-back-end
  BUCKET: mys3bucket1
  JAR_NAME: todoList-0.0.1-SNAPSHOT.jar
  ZIP_NAME: todo.zip
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
      
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: gradle bootjar
      
    - name: MAKE DEPLOYMENT DIR
      run: mkdir -p code-deploy-${PROJECT_NAME}
    - name: MOVE JAR
      run: cp build/libs/${JAR_NAME} code-deploy-${PROJECT_NAME}/
    - name: CD JAR FOLDER
      run: cd code-deploy-${PROJECT_NAME}
    - name: com-1
      run: |
        pwd
        ls
        ls -a
    - name: ZIP CODE DEPLOY
      run: zip ${ZIP_NAME} ${JAR_NAME}
      
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: '${{ secrets.AWS_ACCESS_KEY_ID }}'
        aws-secret-access-key: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
        aws-region: ap-northeast-2

    - name: Upload to S3
      run: aws s3 cp ${ZIP_NAME}.zip s3://${BUCKET}/jar/ --region ap-northeast-2
 
      
